[package]
name = "mytest"
version = "0.1.0"
edition = "2021"

[profile.dev]
debug = 2

[dependencies]
# regex = "1.11.1"
# url = "2.5.4"
anyhow = "1.0"
thiserror = "2.0"

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "performance_bench"
harness = false
